# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*
!.env.example

# Distribucion / empaquetado
dist/
build/
*.egg-info/

# Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Datos locales de desarrollo
src/storage/database.json
